/* .pagination .page-link {
	background-color: rgba(255, 20, 147, 0.6);
	border-color: rgba(255, 20, 147, 0.6);
	color: white;
  }
  
  .pagination .page-link:hover {
	background-color: rgba(255, 20, 147, 0.8);
  }
  
  .pagination .page-item.active .page-link {
	background-color: rgba(255, 20, 147, 0.9);
	border-color: rgba(255, 20, 147, 0.9);
	color: white;
  }
   */